html {scroll-behavior: smooth;}
body {
	width: 100vw;
	height: 100vh;
    padding: 0px;
	border: 0px;
	margin: 0px;
	overflow-x: hidden;
}

:root {
	--font_family: arial;
	--font_size: 20px;
    --font_size_2: 30px;
	--button_width: 95px;
	--button_hight: 96%;
}

::-webkit-scrollbar {
    width: 0;
}

.main{
    width: 100vw;
	height: 100vh;
    padding: 0px;
	border: 0px;
	margin: 0px;
    background-color: #191919;
}

.top{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
	grid-template-columns: 1fr 15% 5% 5% 15% 1fr;
	
	grid-template-areas:
	". . . . . ."
    ". teamA_name timer timer teamB_name ."
    ". teamA_points . . teamB_points ."
	". . . . . .";

    width: 100vw;
	height: 40vh;
    padding: 0px;
	border: 0px;
	margin: 0px;
    background-color: #cfcfcf;
}

.bottom{
    display: grid;
    grid-template-rows: 5% 1fr 1fr 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 10% 1fr 1fr 1fr 1fr 1fr;
	
	grid-template-areas:
    ". . . . . . . . . . ."
	". teamA_name_in_div teamA_name_in_div teamA_name_in_div . team_update . teamB_name_in_div teamB_name_in_div teamB_name_in_div ."
    ". teamA_P1 . teamA_M1 . . . teamB_P1 . teamB_M1 ."
    ". . . . . pause . . . . ."
	". set_timer_val_div set_timer start . Resume . reset . . ."
    "DEV_HW DEV_HW . . . . . . . . .";

    width: 100vw;
	height: 60vh;
    padding: 0px;
	border: 0px;
	margin: 0px;
    background-color: #666666;
}


/* --top-- */

.teamA_name{
    grid-area: teamA_name;
    font-family: var(--font_family);
    font-size: var(--font_size_2);
    text-align: center;
    align-self: center;
}

.teamA_points{
    grid-area: teamA_points;
    font-family: var(--font_family);
    font-size: var(--font_size_2);
    text-align: center;
    align-self: center;
}

.teamB_name{
    grid-area: teamB_name;
    font-family: var(--font_family);
    font-size: var(--font_size_2);
    text-align: center;
    align-self: center;
}

.teamB_points{
    grid-area: teamB_points;
    font-family: var(--font_family);
    font-size: var(--font_size_2);
    text-align: center;
    align-self: center;
}


.timer{
    grid-area: timer;
    font-family: var(--font_family);
    font-size: 40px;
    text-align: center;
    align-self: center;
}


/* --bottom-- */

.team_name_in_form{
    font-family: var(--font_family);
    font-size: var(--font_size);
    height: 40px;
    text-align: center;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #000;
}

.teamA_name_in_div{
    grid-area: teamA_name_in_div;
    text-align: center;
    align-self: center;
}
.teamB_name_in_div{
    grid-area: teamB_name_in_div;
    text-align: center;
    align-self: center;
}

.team_update{
    grid-area: team_update;
    font-family: var(--font_family);
    font-size: var(--font_size);
    height: 50%;
    align-self: center;
}

/* +- */
.teamA_P1{
    grid-area: teamA_P1;
    font-family: var(--font_family);
    font-size: var(--font_size_2);
}

.teamA_M1{
    grid-area: teamA_M1;
    font-family: var(--font_family);
    font-size: var(--font_size_2);
}

.teamB_P1{
    grid-area: teamB_P1;
    font-family: var(--font_family);
    font-size: var(--font_size_2);
}

.teamB_M1{
    grid-area: teamB_M1;
    font-family: var(--font_family);
    font-size: var(--font_size_2);
}


/* time */

.set_timer_val_form{
    font-family: var(--font_family);
    font-size: var(--font_size);
    height: 30px;
    width: 60%;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #000;
}

.set_timer_val_div{
    grid-area: set_timer_val_div;
    align-self: center;
    text-align: end;
}

.set_timer{
    grid-area: set_timer;
    font-family: var(--font_family);
    font-size: var(--font_size);
    height: 50%;
    width: 60%;
    align-self: center;
    justify-self: center;
}


.start{
    grid-area: start;
    font-family: var(--font_family);
    font-size: var(--font_size);
    height: 50%;
    align-self: center;
}

.pause{
    grid-area: pause;
    font-family: var(--font_family);
    font-size: var(--font_size);
    height: 50%;
    align-self: center;
}

.Resume{
    grid-area: Resume;
    font-family: var(--font_family);
    font-size: var(--font_size);
    height: 50%;
    align-self: center;
}

.reset{
    grid-area: reset;
    font-family: var(--font_family);
    font-size: var(--font_size);
    height: 50%;
    align-self: center;
}


.team_update, .teamA_P1, .teamA_M1, .teamB_P1, .teamB_M1, .set_timer, .pause, .start, .Resume, .reset{
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #000;
    cursor: pointer;
    transition: 0.2s;
}

.team_update:hover, .teamA_P1:hover, .teamA_M1:hover, .teamB_P1:hover, .teamB_M1:hover, .set_timer:hover, .pause:hover, .start:hover, .Resume:hover, .reset:hover{
    border: 5px solid #191919;
    border-radius: 10px;
}


.DEV_HW{
	grid-area: DEV_HW;
	color: #ffffff;
	font-family: var(--font_family);
    font-weight: bold;
	text-decoration: none;
	font-size: 11px;
	cursor: pointer;
    align-self: center;
    text-align: center;
}